<section>
  <h1 class="">Add a new prescription</h1>
  <%= form_with model: @prescription, url: prescriptions_path, class: "card left" do |form| %>
   <%= form.label :appointment_id %> <br>
    <%= form.text_field :appointment_id,
     placeholder: "Appointment ID" %> <br>   
    <%= form.label :prescript %> <br>
    <%= form.text_area :prescript , cols: 30, rows: 10 %> <br>
    <%= form.submit "Submit", class: "btn" %>
  <% end %>   
</section>