<% if current_user %>
<%= link_to user_path(@user.id), class: "btn btn-link" do %>
    <p class="link-black text-center"><strong>back to profile</strong></p>
  <% end %>
  <% else %>
<%= link_to doctor_path(@user.id), class: "btn btn-link" do %>
    <p class="link-black text-center"><strong>back to profile</strong></p>
  <% end %>
  <% end %>


<h1>Your Prescription</h1>

<h6>Recommendation from doctor: <strong><%= @appointment.doctor.full_name %></strong></h6>
<p><%= @prescription.prescript %></p>

<% if current_doctor %>
<div class="">
  <%= button_to "Delete this recommendation", @prescription, 'method': :delete, class: 'btn btn-danger text-light rounded-2 my-2' %>     
</div> 
<% end %>