<h2 class="text-center font-bold text-3xl">Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone, autofocus: true %>
    </div>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "bg-purple-300 hover:bg-pink-400 my-2" %>
  </div>
<% end %>

<p class="text-green-300 font-bold"><%= render "doctors/shared/links" %></p>
