<h1>Users#show</h1>

<% @doctors.each do |doc| %>
  <%= link_to new_appointment_path, class: "btn btn-link" do %>
        <li class="card left">
          <div class="card">
           <p>Click here to make appointment and use this identifier number # <strong><%= doc.id %></strong> </p>         
          <img src=<%= doc.image %> alt="" width="75%" heigth="75%">   
          <p>Speciality: <%= doc.category_id %></p>       
          <h5><%= doc.full_name %></h5>                
          </div>
          </li>
  <% end %>
<% end %>
