<h1>Select your doctor</h1>

<% @doctors.each do |doc| %>
  <%= link_to new_appointment_path, class: "btn btn-link" do %>
        <li class="card left">
          <div class="card">
            <p>Click here to make an appointment with doctor <strong><%= doc.full_name %></strong> </p>   
            <a><%= image_tag doc.image, class: 'rounded-circle shadow-lg d-block mx-auto', width: 160, height: 160 %></a>              
             <p>Doctor ID: <strong><%= doc.id %></strong></p>    
            <h5><strong><%= doc.full_name %></strong></h5>                
          </div>
          </li>
          <p>Your ID <strong><%= current_user.id %></strong></p>
  <% end %>
<% end %>

<p class="card left"> <strong>Doctor's recommendation:</strong> <i><%= @prescription.prescript %></i> <p>