<div class="container-fluid d-flex flex-column align-items-center bg-warning p-3">
  <h1 class="text-center display-4">Welcome to our Healthcare Center</h1>

<p class="m-2 text-even">If you are not signed in, follow this link for login</p>
<div class="container-fluid d-flex justify-content-center p-3">  
  <p class="m-2 p-1">For doctors</p>
  <%= link_to "Doctor Signin", new_doctor_session_path, class: "btn btn-success text-light" %>
  <p class="m-2 p-1">For patients</p>
  <%= link_to "Patient Signin", new_user_session_path, class: "btn btn-primary text-light" %>
  <p class="m-2 p-1">For admins</p>
  <%= link_to "Admin Signin", new_admin_user_session_path, class: "btn btn-secondary text-light" %>  
  </div>

   <p class="m-2 text-even">If you are not registrated, follow this link for registrations</p>
  <div class="container-fluid d-flex justify-content-center p-3"> 
  <p class="m-2 p-1">For doctors</p>
  <%= link_to "Doctor Signup",  new_doctor_registration_path, class: "btn btn-success text-light" %>
  <p class="m-2 p-1">For patients</p>
  <%= link_to "Patient Signup",  new_user_registration_path, class: "btn btn-danger text-light" %>     
  <p class="m-2 p-1">For admins</p>
  <%= link_to "Admin Signup", new_admin_user_registration_path, class: "btn btn-secondary text-light" %>      
   </div>     
</div> 