<h1>Doctors Profile</h1>

<h4>Serve your appointment</h4>

<% @appointments.each do |a| %>  
 <%= link_to new_prescription_path, class: "btn btn-link" do %>
        <li class="card left">
          <div class="card">
          <p>Click here to write prescription and use <br> this number as appointment_id # <strong><%= a.id %></strong> </p>  
         <a><p>DoctorID: <strong><%= a.doctor_id %></strong></p></a>      
          <p>UserID: <strong><%= a.user_id %></strong></p>             
           <p>Appointment Date <strong><%= a.appointment_date %></strong></p> 
            <p>Appoinment closed status <strong><%= a.closed %></strong></p>              
          </div> 
        </li>
  <% end %>      
<% end %>
