<h1 class="text-center">Doctors Profile</h1>

<h4 class="text-center">Serve your appointment</h4>

<% @appointments.each do |a| %>  
 <%= link_to new_prescription_path, class: "link-success p-2" do %>
      <ul class="list-unstyled">
        <li class="card left">
          <div class="">
          <p class="text-center"><strong>Click to write prescription</strong></p>
          <a><p>AppointmentID # <strong><%= a.id %></strong> </p></a> 
          <p>DoctorID: <strong><%= a.doctor_id %></strong></p>   
          <p>UserID: <strong><%= a.user_id %></strong></p>             
          <p class="m-2 link-primary">Appointment Date <strong><%= a.appointment_date %></strong></p> 
          <p>Is appoinment closed? <strong><%= a.closed %></strong></p>    
          </div> 
        </li>
        </ul>
  <% end %>      
<% end %>
