<%= link_to user_path(@user.id), class: "btn btn-link" do %>
  <p class="link-black text-center"><strong>back to profile</strong></p>
<% end %>
<h2><strong>All Appointments</strong></h2>
<% if @appointments.blank? %>
  <p><strong>You don't have any appointment</strong></p>
<% else%>
  <% @appointments.each do |app| %>
    <p>You have appointment at <strong><%= app.appointment_date.to_s(:custom_datetime) %></strong> with doctor <strong><%= app.doctor.full_name %></strong> </p>
    <% if app.prescription.blank? %>
      <p><strong>When written doctor's recommendation will appear here</strong></p>
       <%= link_to appointment_path(app.id), class: "btn btn-link p-0 m-0 text-primary" do %>
            <p class="link-black text-center"><strong>Your unserved appointment</strong></p>
            <% end %>
    <% else %>
      <%= link_to prescription_path(app.prescription.id), class: "btn btn-link p-0 m-0 text-success" do %>
        <p class="link-black text-center"><strong>Doctor's prescription</strong></p>
    <% end %>
  <% end %>
<% end %>
<% end %>
