<section>
  <h1 class="">Add a new appointment</h1>
  <%= form_with model: @appointment, url: appointments_path, class: "card left" do |form| %>
   <%= form.label :appointment_date, hidden: true, class: "form-label" %> <br>
   <%= form.date_select :appointment_date, required: true, autofocus: true, autocomplete: "datetime", use_short_month: true, prompt: { day: 'Day', month: 'Month', year: 'Year' }, order: [:month, :day, :year], class: "form-select" %>
 <br>
    <%= form.label :doctor_id %> <br>
    <%= form.text_field :doctor_id %> <br>
    <%= form.label :patient_id %> <br>
    <%= form.text_field :patient_id %> <br>
    <%= form.label :closed %> <br>
    <%= form.text_field :closed %> <br>
    
    <%= form.submit "Submit", class: "btn" %>
  <% end %>
</section>

