<!DOCTYPE html>
<html>
  <head>
    <title>HealthcareCenter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body> 
    <p class="notice m-2 text-success"><%= notice %></p>
    <p class="alert m-2 text-danger"><%= alert %></p>
    <main class="w-75 p-3 container-fluid d-flex flex-column align-items-center">       
    <%= yield %>
    </main>
  </body>
</html>
